<header id="header">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="/">LOGO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="margin-right: 15px;"><i class="fas fa-angle-double-down"style="color:rgb(190, 183, 113); font-size:50px;"></i>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="../favourites">MY FAVOURITES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../mypostings">MY POSTINGS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CREATE POSTING</a>
        </li>
      </ul>
      <form class="form-inline" method="post" action="/logout">
        <a href="#"><button class="btn btn-outline-dark my-2 my-sm-0" style="margin-right: 10px" type="button">Search</button></a>
        <a href="/logout"><button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Logout</button></a>
      </form>

    </div>
  </nav>
</header>
