<header id="header">
  <nav class="navbar navbar-expand-lg navbar-static-top">
    <a class="navbar-brand" href="/">lightMart</a>

    <% if (!session_id) { %>
      <div class="login-register">
        <a href="../login"><button class="btn btn-outline-dark my-2 my-sm-0" type="button">Login</button></a>
        <a href="/register"><button class="btn btn-outline-dark my-2 my-sm-0" type="button">Register</button></a>
      </div>
    <% } else { %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="margin-right: 15px;"><i class="fas fa-angle-double-down"style="color:rgb(190, 183, 113); font-size:40px;"></i>
        </span>
      </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="../users/myfavourites">My favourites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../users/mypostings">My postings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../users/new">Create posting</a>
        </li>
      </ul>
      <form class="form-inline" method="post" action="/logout">
        <a href="#"><button class="btn btn-outline-dark my-2 my-sm-0" style="margin-right: 10px" type="button">Search</button></a>
        <a href="/logout"><button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Logout</button></a>
      </form>
    </div>
    <% } %>
  </nav>
</header>
