#header {
  background-color: #87AAAA;
}

#header nav {
  display: flex;
  justify-content: space-between;
}

#header .navbar{
  padding: 15px;
}

#header nav a {
  color: whitesmoke;
  font-size: 1rem;
  padding-left: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}


#header nav .login-register {
  font-size: 1.5rem;
  padding-right: 20px;
}

#header nav .form-inline {
  padding-right: 20px;
}


