.display-4, .font-weight-bold {
  font-family: 'Poppins';
}

/* change font family for footer text - targets all text elements in footer */
.col-12, .col-md-3 {
  font-family: 'Poppins';
}

.jumbotron {
  /* background-image: url('../../docs/nft-bg.png'); */
  background-size: cover;
  height: 100%;
}

.text-center, .py-4 {
  font-family: 'Poppins';
}


.headform {
  display: flex;
  justify-content: space-between;
}

.headform form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headform form button {
  height: 40px;
  width: 150px;
  margin-left: 15px;
}

.card img {
  width: 207px;
  height: 207px;
}

.p-4 {
  margin-bottom: 5px;
}
