body {
  display: flex;
  flex-direction: column;
}
.card {
width: 350px;
height: 475px;
border: 5px solid black;
margin: 10px;
}
.card img {
  width: 302px;
  height: 302px;
}
.container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
 }
