/* Basic Styling */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 60px;
  display: flex;
  margin-top: 80px;
}

/* left and right containers */
.left-column {
  width: 65%;
}


.right-column {
  width: 35%;
  margin-top: 60px;
  margin-right: 50px;
}

/* Product Description */
.product-description {
  margin-bottom: 20px;
  margin-top: 40px;
}
.product-description span {
  font-size: 16px;
  opacity: 75%;
  color: grey;
  text-decoration: none;
}
.product-description h1 {
  font-weight: 300;
  font-size: 55px;
  color: #43484D;

}
.product-description p {
  font-size: 16x;
  font-weight: 300;
  color: #86939E;
  line-height: 26px;
}

/* Product Price */

.product-price {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.product-price span {
  font-size: 26px;
  font-weight: normal;
  color: #43474D;
}

.contact-seller {
margin-top: 10px;
margin-bottom: 20px;
}

/* Responsive design */

@media (max-width: 1047px) {
  .container {
    flex-direction: column;
    margin-top: 60px;
  }

  .left-column, .right-column {
    width: 100%;
  }

  .left-column img {
    width: 100%;
    right: 0;
    left: initial;
  }
  .product-price {
    display: flex;
    flex-direction: column;
  }
  .product-price span {
    font-size: 20px;
  }
  .product-description h1 {
    font-size: 35px;
  }

}


